@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}
.privacy {
  margin-top: 65px;
  margin-bottom: 50px;
  margin-left: 40px;
}

.text {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  font-family: "Dosis", sans-serif;
  text-align: center;
  font-size: 15px;
}
.plainText {
  margin-bottom: 25px;
}

a,
button {
  cursor: pointer;
}

nav {
  position: absolute;
  top: 130px;
  right: 0%;
  width: 100%;
}

.navigation {
  position: fixed;
  right: -500px;
  width: 27%;
  height: 100%;
  background-color: #000;
  transition: 0.5s;
  z-index: 1000;
}

.navigation ul li {
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  list-style-type: none;
  font-size: 18px;
  padding: 10px 30px;
  /* border-bottom: 1pt solid #252525; */
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.navigation ul li a {
  text-decoration: none;
  color: white;
}

.hamburger,
.bar {
  position: fixed;
}

.hamburger {
  display: block;
  top: 5%;
  left: 95%;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  border: 0;
  background: 0 0;
}

.bar {
  top: 3px;
  background: rgb(73, 73, 73);
  width: 100%;
  height: 4px;
  transition: all 0.3s ease-in;
  opacity: 100%;
  border-radius: 50px;
}

#bar2 {
  top: 11px;
}

#bar3 {
  top: 19px;
}

.navigation.active {
  right: 0;
}

.hamburger.open #bar1 {
  background-color: #fff;
  transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2 {
  background-color: transparent;
}

.hamburger.open #bar3 {
  background-color: #fff;
  transform: rotate(-45deg) translate(6px, -5px);
}
.navLogo {
  height: 60px;
  width: 105px;
  margin-left: 0px;
  margin-top: 40px;
}

.link1 {
  margin-top: 80px;
  text-decoration: none;
  color: white;
  transition: 0.2s ease;
}
li {
  cursor: pointer;
}
.link4 {
  font-size: 13px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-top: 150px;
  cursor: auto;
}

.navMainLogo {
  width: 35px;
  background-color: transparent;
  position: fixed;
  top: 15px;
  left: 30px;
}
